body {
    margin: 0;
    background-color: #00F;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1; /* TODO Solve this in HTML */
}

a,
button,
input,
select {
    pointer-events: auto;
}

.lil-gui {
    z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and (max-width: 640px) {
    .lil-gui.root {
        right: auto;
        top: auto;
        max-height: 50%;
        max-width: 80%;
        bottom: 0;
        left: 0;
    }
}

#overlay {
    position: absolute;
    font-size: 16px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
}

#overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 18px;
    text-transform: uppercase;
    cursor: pointer;
}

#notSupported {
    width: 50%;
    margin: auto;
    background-color: #f00;
    margin-top: 20px;
    padding: 10px;
}

body {
    background-color: #bfe3dd;
    color: #FFF;
}

a {
    color: #2983ff;
}

.vr-button,
.xr-button {
    position: fixed;
    left: calc(50% - 50px) !important;
    bottom: 20px;
    width: 100px;
    padding: 12px 6px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(10, 10, 10, 0.5);
    font: 14px sans-serif;
    font-weight: bold;
    text-align: center;
    opacity: 0.5;
    outline: none;
    z-index: 999;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading .progress {
    margin: 1.5em;
    border: 1px solid white;
    width: 50vw;
}
#loading .progressbar {
    margin: 2px;
    background: white;
    height: 1em;
    transform-origin: top left;
    transform: scaleX(0);
}
